.DS_Store
.qtcreator/
.vs/
Bin/
build/
Builds/MSVC/Installer/obj/
Builds/MSVC/Solution/.vs/
Builds/MSVC/Solution/GeneratedFiles/
Builds/MSVC/Solution/Obj/
Builds/MSVC/Solution/*.aps
Builds/MSVC/Solution/*.user
Deps/
fractorium.com/
Site/
Source/apoconv/.vs/
Source/apoconv/*.user
Source/apoconv/bin/
Source/apoconv/obj/