*.user
*.opensdf
*.sdf
*.suo
*.obj
*.tlog
*.def
*.dll
*.manifest
*.exp
*.lastbuildstate
*.lib
*.log
*.map
*.pdb
*.cache
*.res
*.ipch
*.bsc
*.exe
*.ilk
*.wixobj
*.pch
*.txt
*.msi
*.idb
*.bmp
*.jpg
*.zip
*.avi
*.ini
*.bin
*.aps
*.db
*.opendb
*moc_*
*GeneratedFiles*
*.unsuccessfulbuild
*~*
*-pre1
*last.flame
main.pro.user.*
.DS_Store
*.o
ui_*.h
qrc_*.cpp
.qmake.stash
*.gch
*.dmg
Makefile.Debug
Makefile.Release
Bin/
Obj/
debug/
release/
Deps/
Builds/MSVC/Installer/obj/


fractorium.com/
Site/
Data/*.png
Data/Variations Bench.xlsx
.vs/
Builds/QtCreator/build*
Makefile
Builds/QtCreator/Ember/Makefile
Builds/QtCreator/EmberAnimate/Makefile
Builds/QtCreator/EmberCL/Makefile
Builds/QtCreator/EmberGenome/Makefile
Builds/QtCreator/EmberRender/Makefile
Builds/QtCreator/Fractorium/Makefile
Builds/lib/libOpenCL.so
Builds/include/CL
Builds/include/GL
Source/Fractorium/Fractorium.ui.autosave
Builds/MSVC/Solution/.vs/
Builds/QtCreator/Ember/.qtc_clangd/

Source/apoconv/.vs
Source/apoconv/bin
Source/apoconv/obj
/build
